# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\.GO_workspace\src\SuperPlasm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
